In [2]:
import pandas as pd
import networkx as nx
from utils import annual_graph,total_graph
import os

###合并分页数据

In [16]:
data_paths=['./data/data_json/2016/','./data/data_json/2017/']
save_path='./data/'
for path in data_paths:
    datasets=os.listdir(path)
    print(datasets[0:5],'....')

    frames=[]
    for data in datasets:
        df=pd.read_csv(path+data,dtype=str)
        frames.append(df)
    result=pd.concat(frames)
    result.to_csv(save_path+datasets[0][0:9]+'.csv',index=False)

['data_2016_60000_70000.csv', 'data_2016_80000_85000.csv', 'data_2016_135000_140000.csv', 'data_2016_85000_90000.csv', 'data_2016_20000_30000.csv'] ....
['data_2017_20000_30000.csv', 'data_2017_70000_80000.csv', 'data_2017_40000_50000.csv', 'data_2017_30000_40000.csv', 'data_2017_50000_60000.csv'] ....

##数据 ->图

In [4]:
pd.read_csv('./data/ProductOrSectorCode_detail.csv',dtype=str).head()

,code,name,note,productClassification,codeUnique,displayOrder,hierarchy
0,01,Animal products,NaN,MT2,MT2 - 01 -,NaN,01
1,02,Dairy products,NaN,MT2,MT2 - 02 -,NaN,02
2,03,"Fruits, vegetables, plants",NaN,MT2,MT2 - 03 -,NaN,03
3,04,"Coffee, tea",NaN,MT2,MT2 - 04 -,NaN,04
4,05,Cereals and preparations,NaN,MT2,MT2 - 05 -,NaN,05

In [23]:
#动物，瓜果蔬菜农产品
selectedProducts=['01','03']
data_names=['data_2016.csv','data_2017.csv','data_2018.csv','data_2019.csv','data_2020.csv']

In [24]:
annual_graph(selectedProducts,data_names)
total_graph(selectedProducts,data_names)

In [ ]:
##